/* body{
  background-image: url("./assets/apartmentbackground.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
/* } */ 

.text-container{
  display: flex;
  color: white;
}

#nav-text{
  margin: 0 10px;
  border-color: white;
  border: 2px solid;
  padding: 5px;
  color: white;
  text-decoration: none;
}

#nav-text:hover{
  background-color: purple;
}

#title{
  font-family: 'Times New Roman', Times, serif;
}

.copyrights {
  color: white;
} 
#apartment-logo {
  display: flex;
  margin: auto;
}

.introtext {
  margin-top: 20px;
}

.homecontainer {
  text-align: center;

}

.error {
  display: flex;
  margin: auto;
  height: 710px;
}

.footer{
  margin: auto;
  width: 100%;
  height: 400px;
}
