/* body{
  background-image: url("./assets/apartmentbackground.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
/* } */ 

.text-container{
  display: flex;
  color: white;
}

#nav-text{
  margin: 0 10px;
  border-color: white;
  border: 2px solid;
  padding: 5px;
}

#nav-text:hover{
  background-color: purple;
}

#title{
  font-family: 'Times New Roman', Times, serif;
}